.content {
  flex: 7;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.startGameButton {
  font-size: 3.5em;
  border-radius: 0.2em;
  cursor: pointer;
  background-color: ghostwhite;
  margin: 0.2em;
}

.instruction {
  font-size: 2em;
  margin: 0.3em;
}